.foto {
    border-radius: 50% !important;
    margin: 40px;
}

.cursor {
    cursor: pointer;
}

.redes {
    margin-top: 2px !important;
    width: 4em !important;
    height: 4em !important;
    margin-left: 50px;
    font-size: 1.0rem !important;
}