.backgroundLogin {
    background-image: url("https://i.imgur.com/HMEX5eq.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgb(255, 255, 255) transparent !important;
    min-height: calc(150vh - 64px);
    min-width: calc(130vh - 30px);
}

.formularioEntrar {
    position: center;
    background-color: #d5e5f1;
    width: 500px;
    height: 250px;
    border-radius: 20px!important;
    padding: 9px;
}

.marca {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 38%;
}
.efeito-vidro1 {
   
    position: center;
    text-align: center center !important;
    bottom: 50px !important;
    background: rgba(255,255,255,0.4) !important;
    backdrop-filter: blur(1px) !important;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2) !important;
}