.caixa {
    background-color: white;
}

.apresentacao {
    background-color: rgba(23, 21, 112, 0.979) !important;
}

.background {
    background-image: url("https://i.imgur.com/NezPse2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: calc(100vh - 120px);
    min-width: calc(0vh - 30px);
}

.ods4 {
    margin-top: -250px !important;
    margin-left: 25% !important;
}

.backgroundColor {
    background-color: #fbefcb !important;
}

.marginHome {
    margin-left: 6% !important;
}

.pptu {
  
    margin-left: 80% !important;
    margin-top: -210px !important;
}

.textoODS4 {
    text-align: justify;
    text-justify: auto;
}

.textoMissao {
    text-align: justify;
    text-justify: auto;
}

.bold {
    font-weight: bold;
}