.caixa {
    background-color: white;
}

.postagens {
    background-color: white;
}

.background {
    background-image: url("https://i.imgur.com/yFmA5pe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: calc(150vh - 64px);
    min-width: calc(130vh - 30px);
}

.caixa-search {
    margin-top: -13%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.caixa-search:hover>.caixa-texto {
    width: 300px;
    padding: 0 6px;
}

.caixa-search:hover>.botao-search {
    background-color: #fff !important;
    margin-left: 3px !important;
}

.botao-search {
    color: white !important;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    transition: 0.4s;
}

.caixa-texto {
    border: none;
    background-color: rgb(0, 0, 0);
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    cursor: pointer;
}