.footer {
    background-color: #6b6b6b69 !important;
    min-width: calc(130vh - 29px);
}

.logos {
    font-Size: 60px !important;
    color: white;
}

h .titulo1 {
    color: white;
}

.site {
    color: white !important;
    text-decoration: none !important;
}

.footer2 {
    background-color: #6b6b6b69 !important;
}