.footer {
    background-color: #033153 !important;
    height: 85px !important;
}

.logos {
    font-Size: 50px !important;
    color: white;
    padding: 10px !important;
}

.logosFooter {
    padding-left: 285% !important;
    margin-top: -60px !important;
}

.textoFooter {
   
    color: #fbefcb;
    margin-top: 25px !important;
    margin-left: 6% !important;
}
