.texto1 {
    font-size: 16px;
    background-color: #033153;
    margin-block-end: 30cm;
}

.tminput {
    width: 60%;
  
}

.margin {
    margin-top: 15%;      
}

.backgroundsn {
    background-color: #e6dcbf;
}

.fonttexto1 {
    text-align: center;
    font-size: 30px;
    color: #033153;
}

.fonttexto2 {
    text-align: center;
    font-size: 25px;
    background-color: #e6dcbf;
    color: #033153;
}

.img {
    width: 60%;
    margin-left: 8cm;
    
}