.topo {
    margin-top: 8% !important;
}

.cadastrarCategoria {
    margin-top: 5% !important;
}

.botaoFinalizar {
    margin-top: 5% !important;
    background-color: #af9b6e !important;
    color: #fbefcb !important;
    
}



