.corMenu {
    background-color: #033153 !important;
    height: 60px !important;
}

.logo {
    margin-top: -10px !important;
    margin-left: 80px !important;
}

.link {
    margin-left: 200px !important;
    text-decoration: none;
    color: #fbefcb;
    margin-left: 20px !important;
  
}

.maisNavbar {
    color: #fbefcb !important;
    font-size: 20px !important;
    margin-left: 20px !important;text-transform: capitalize!important;
}

.barraNavbar {
    margin-left: 10px!important;
}

.linkMenu {
    text-decoration: none;
    color: black !important;
}

